---
layout: archive
title: "Professional Experience"
permalink: /professional/
author_profile: true
---

<h2>Professional Experience</h2>

{% include base_path %}

<ul class="entries">
  {% for item in site.professional %}
  <li class="entry">
    <h3 class="entry-title">{{ item.venue }}</h3>
    <p class="entry-meta">
      <time datetime="{{ item.date | date: "%Y-%m-%d" }}">
        {{ item.date | date: "%m/%Y" }}
      </time>
      {% if item.location %} | {{ item.location }}{% endif %}
    </p>
    <p class="entry-role">{{ item.role }}</p>
    {% if item.content %}
      <div class="entry-description">
        {{ item.content | markdownify }}
      </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
