---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<h2>Research Interests</h2>
<p>
  My research interests lie at the intersection of human-computer interaction, human-centered AI, AI-mediated communication, social and affective computing, interaction and experience design, and computational methods.
</p>
<p>
  If you are interested in working with me in related fields, please feel free to contact me by email.
</p>


<h2>Publications & Work in Progress</h2>
{% for item in site.research %}
  {% if item.category == "publication" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Research Experience</h2>
{% for item in site.research %}
  {% if item.category == "experience" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}


